{% extends 'base.html.twig' %}

{% block title %}Catégorie #{{ categoryName }}{% endblock %}

{% block body %}
    <h1>Catégorie {{ categoryName }}</h1>
    {% for program in programs %}
        {% if loop.index % 2 == 1 %}
            <div class="row">
        {% endif %}
        <div class="col-sm-6">
        <div class="program card">
            <div class="card-body">
                <h5 class="card-title">{{ program.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ program.category.name }}</h6>
                <p class="card-text">{{ program.synopsis }}</p>
                <a href="{{ path("program_show", { id: program.id }) }}" class="card-link">Voir la fiche</a>
            </div>
        </div>
        </div>
        {% if loop.index % 2 == 0 %}
            </div>
        {% endif %}

{#        <div>#}
{#            <h2><a href="{{ path("program_show", { id: program.id }) }}">{{ loop.index }} / {{ program.title }}</a> - Catégorie : {{ program.category.name }}</h2>#}
{#            <p>{{ program.synopsis }}</p>#}
{#            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>#}
{#        </div>#}
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    {% if programs|length != 0 and programs|length %2 == 1 %}
        </div>
    {% endif %}

{% endblock %}