{% extends 'base.html.twig' %}

{% block title %}Série {{ program.title }}{% endblock %}

{% block body %}
    <div class="program card text-center">
        <div class="card-header">
            {{ program.category.name }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ program.title }}</h5>
            <p class="card-text">{{ program.synopsis }}</p>
            <p class="card-text">Season {{ season.number }}</p>
            {% include '/program/_season_pagination.html.twig' %}

        </div>
        <div class="card-footer text-muted">
            {{ program.country }} - {{ program.year }}
        </div>
    </div>

    {% for episode in season.episodes %}
        {% if loop.index % 2 == 1 %}
            <div class="program row">
        {% endif %}
        <div class="col-sm-6">
            <div class="program card episode">
                <div class="card-body">
                    <h5 class="card-title">Episode {{ episode.number }} - {{ episode.title }}</h5>
                    <p class="card-text">{{ episode.synopsis[0:50] }}...</p>
                    <a href="{{ path('program_episode_show', { programId: program.id, seasonId: season.id, episodeId: episode.id }) }}" class="btn btn-primary">View Episode</a>
                </div>
            </div>
        </div>
        {% if loop.index % 2 == 0 %}
            </div>
        {% endif %}
    {% endfor %}
    {% if program.seasons|length % 2 == 1 %}
        </div>
    {% endif %}
{% endblock %}
