{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="program card text-center">
        <div class="card-header">
            {{ program.category.name }}
        </div>
        <div class="card-body">
            <img class="card-img-top" src="{{ program.poster }}" alt="poster de {{ program.title }}">
            <h5 class="card-title">{{ program.title }}</h5>
            <p class="card-text">{{ program.synopsis }}</p>
        </div>
        <div class="card-footer text-muted">
            {{ program.country }} - {{ program.year }}
        </div>
    </div>

    {% for season in program.seasons %}
        {% if loop.index % 2 == 1 %}
    <div class="program row">
        {% endif %}
        <div class="col-sm-6">
            <div class="program card">
                <div class="card-body">
                    <h5 class="card-title">Season {{ season.number }} - {{ season.year }}</h5>
                    <p class="card-text">{{ season.description }}</p>
                    <a href="{{ path('program_season_show', { programId: program.id, seasonId: season.id }) }}" class="btn btn-primary">View Episodes</a>
                </div>
            </div>
        </div>
        {% if loop.index % 2 == 0 %}
            </div>
        {% endif %}
    {% endfor %}
    {% if program.seasons|length % 2 == 1 %}
        </div>
    {% endif %}

    <strong>Acteurs :</strong>
    <ul>
        {% for actor in program.actors %}
            <li><a href="{{ path('actor_show', { id: actor.id}) }}">{{ actor.firstname }} {{ actor.lastname }}</a></li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>
{% endblock %}