<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/fav.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body {{ stimulus_controller('theme') }} {{ stimulus_target('theme', 'body') }}>
        {% include '_navbar.html.twig' %}
        {% include '_flash.html.twig' %}
        <div class="d-flex">
            <aside class="d-flex flex-column px-3">
                {{ component('ProgramSearch') }}
                {{ component('LastEpisode') }}
                {% include '_links.html.twig' %}
            </aside>
            <main class="flex-fill">
            {% block body %}{% endblock %}

            </main>
        </div>

    {% include '_footer.html.twig' %}
    </body>
</html>
