{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
{#    {{ dump(app.user) }}#}
    <div class="jumbotron">
        <h1 class="display-4">Wild Series</h1>
{#    <img src="{{ asset('build/images/img1.png') }}" alt=""/>#}
        <p>Le site qu'il est bien pour savoir où qu'elle en est ta dernière série !</p>
    </div>
        <section>
            <h2>Ajouter...</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ path('program_new') }}">une série</a></li>
                <li class="list-group-item"><a href="{{ path('actor_new') }}">un acteur</a></li>
            </ul>
        </section>
{#        {{ dump(last_programs) }}#}
    <section>
        <h2>Dernières séries ajoutées :</h2>
        <ul class="list-group list-group-flush">
            {% for program in last_programs %}
                <li class="list-group-item"><a href="{{ path('program_show', {slug: program.slug}) }}">{{ program.title }}</a></li>
            {% endfor %}
        </ul>
    </section>


{% endblock %}